* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #e6a708;
    color: #221811;
    margin: 0;
}

#wrapper { 
    background-color: #03071e;
    padding: 0;
}

header{
    background-color: #f48c08;
    color: #dc2f02; 
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: url(cat.gif);
    background-repeat: no-repeat;
    padding-left: 105px;
    height: 128px;
}

header a{
    text-decoration: none;
}

header a:link {
    color: #231814;
}

header a:visited { 
    color: #231814;
}

header a:hover {
    color: #6a040f;
}

h1{
    font-size: 2em;
    
}

h2 {
    color: #dc2f02;
}

h3{
    color: #dc2f02;
}

h4{
    background-color:  #e6a708;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #221811;
    clear: left;
}

dt{
    color: #8C3826;
}

nav{
    text-align: center;
    font-size: 1.5em;
}

nav a{
    text-decoration: none;
}

nav a:link {
    color: #6a040f 
}

nav a:visited { 
    color: #690b14;
}

nav a:hover {
    color: #7d0511;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 2em;
}

nav li {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid #6a040f;
}

main{
    padding-top: 0;
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5em;
    background-color: #ffba08;
    display: block;
}

main h2, main h3, main h4, main p, main div, main ul, main dl{
    padding-left: 1em; padding-right: 1em; 
}

main ul {
    padding-left: 2em;
}

footer{
    font-style: italic;
    text-align: center;
    background-color: #f48c08;
    font-size: .6em;
    padding-bottom: 1em;
    border-top: 2px solid #6a040f;
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

table{
    margin: auto;
    width: 90%;
    border-spacing: 0;
}

td,th{
    padding: 10px;
}


table, th, td {
    border:4px solid #ffba08;
}
               

tr:nth-of-type(odd){
    background-color: #e6a708;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea{ 
    margin-bottom: 5em;
}

audio{
    display: block;
    margin-top: 1em;
}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}


#homepage {
    background-image: url(gaxaly\ cat.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}

#gamepage {
    background-image: url(legmiku.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}

#aboutpage {
    background-image: url(tiny\ dog.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}

#extrapage {
    background-image: url(capsulecreaturefront.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    height: 300px;
}

#mobile{
    display: inline;
}

#desktop{
    display: none;
}








@media (min-width: 600px) {
    header { 	padding-left: 0;
            text-align: center; }

    h1        { font-size: 3em; }

    nav ul   { 	flex-flow: row nowrap;
            justify-content: space-around; }

    nav li    { 	border-bottom: none; }

    form{
        width: 40%;
        display: grid ;
        grid-gap: 1em;
        grid-template-columns: 6em 1fr;
    }

    input[type="submit"] {
        grid-column: 9em;
    }

    #homepage { background-image: url(pumkin.gif);
                  height: 50vh; }

    #gamepage { background-image: url(leekbanner.png); }

    #aboutpage{ 
        background-image: url(pinkcat.png); 
    }

    #extrapage{
        background-image: url(titanic.png);
    }

    #flow { display: flex;
            flex-direction: row; }

    #mobile   { display: none; }

    #desktop { display: inline; }

    .details { display: flex;
               flex-direction: row;  }

    h4 { margin-left: 10%;
        margin-right: 10%; }
}


@media (min-width: 1024px) {
    @supports (display: grid) {
       header { grid-area: header; }

       nav      { grid-area: nav; }

       main    { grid-area: main; }

       footer  { grid-area: footer; }

       #wrapper { display: grid;
                  grid-template:
                     "header header"
                     "nav    main"
                     "footer footer"
                     / 200px ; }
    nav ul { flex-direction: column; }

    header {  background-image: url(calulatingcat.png); }
}
}